$navbar-height : 70px;
$spacing-unit: 15px;

* {
  box-sizing: border-box;
}

.page-content {
  top: $navbar-height;
  left:0;
  position:fixed;
  overflow:auto;
  right:0;
  width: 100%;
  bottom: 0;
  .amountain {
  height: 450px;
  width:500px;
  padding: $spacing-unit;
  float:left;
  }
  .hikelist {
  list-style-type:none;
  margin-top: $navbar-height;
  float:left;
    .hike {
    font-size:20px;
    }
  }
  .maptitle {
  padding: $spacing-unit;
  }
  .markerinfo {
    height: 450px;
    width: 500px;
    float: left;
    .picture {
    height: 150px;
    padding: $spacing-unit;
    padding-top:0;
    }
    .title {
    padding: $spacing-unit;
    }
    .description {
    padding: $spacing-unit;
    }
  }
}

.page-nav {
  .brand {
    padding: $spacing-unit;
    display: inline;
    height: $navbar-height;
    line-height: $navbar-height;
    font-size: 36px;
    text-decoration: none;
    margin-right: 80px;
  }
  .navlink {
    padding: $spacing-unit;
    height: $navbar-height;
    line-height: $navbar-height;
    border: 1px solid blue;
    font-size: 28px;
    text-decoration: none;
  }
  .logout {
    padding: $spacing-unit;
    height: $navbar-height;
    line-height: 45px;
    float: right;
  }
  .email{
    margin-left:80px;
    padding: $spacing-unit;
    height: $navbar-height;
    line-height: $navbar-height;
    font-size: 26px;
    text-decoration: none;
  }
  left: 0;
  height: $navbar-height;
  position: fixed;
  right: 0;
  top: 0;
  background: #e1e4ea;
}

 #map {
        height: 450px;
        width: 500px;
        float:left;
      }

.mapview {
  overflow:hidden;
  padding: $spacing-unit
}

.container {
  overflow: hidden;
}