  <header class="page-nav">
    <a href="/maps" class ="brand"><strong>HIKE MAP</strong></a>
    <a href="http://localhost:8080/maps" class ="navlink ">All maps</a>
    <a href="http://localhost:8080/maps/mapid" class ="navlink">View map</a>
    <a href="http://localhost:8080/users/userid/mapid" class ="navlink">create/edit map</a>
    <a href="http://localhost:8080/users" class ="navlink">login</a>
    <form class="logout" action="/logout" method="POST">
    <input type="submit" value="Logout">
    </form>
  </header>