<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Hike Maps</title>
    <% include ./partials/_generalhead %>
    <script type="text/javascript" src="/public/scripts/loginclient.js"></script>
  </head>

  <body>
    <% include ./partials/_header %>
    <main class="page-content">
      <div class="container">
        <h3> Auto login </h3>
        <ul id="autologin">
        </ul>
      </div>
    </main>
  </body>
</html>
