<!doctype html>

<html id="indexhtml">

<head>
  <title>Welcome to Hike Maps</title>
  <% include ./partials/_generalhead %>

  <script type="text/javascript" src="/public/scripts/maps.js"></script>
</head>

<body id="indexbody" >
  <div class="bg">
    <div class="bg-mask">
  <% include ./partials/_header %>


    <main class="page-content">



        <div class="row">

          <div class="col-sm-4">
          </div>

          <div class="col-sm-4">
              <h2 class="feature">Featured Hikes</h2>
              <div id="hikelist" class = "hikelist text-center">
             </div>
          </div>

          <div class="col-sm-4">
          </div>

        </div>



    </main>
    </div>
  </div>
</body>

</html>
