<!doctype html>

<html>
<head>
  <title>Welcome to Hike Maps</title>
  <% include ./partials/_generalhead %>
  <script type="text/javascript" src="/public/scripts/mapsindex.js"></script>
</head>
<body>
  <% include ./partials/_header %>
  <main class="page-content">
   <div class="container">
    <img class="amountain" src= "https://upload.wikimedia.org/wikipedia/commons/4/4d/Batian_Nelion_and_pt_Slade_in_the_foreground_Mt_Kenya.JPG">
    <ul id="hikelist" class = "hikelist text-center">
      <li><a class="hike" href="">Hike Kananaskis</a></li>
    </ul>
  </div>
  </main>
</body>
</html>