<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <title>Welcome to Hike Maps</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="./styles/style.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>
  <% include ./partials/_header %>
  <main class="page-content">
   <div class="container">
    <img class="amountain" src= "https://upload.wikimedia.org/wikipedia/commons/4/4d/Batian_Nelion_and_pt_Slade_in_the_foreground_Mt_Kenya.JPG">
    <ul id="hikelist" class = "hikelist text-center">
      <li><a class="hike" href="">Hike Kananaskis</a></li>
      <li><a class="hike" href="">Hike Kananaskis</a></li>
      <li><a class="hike" href="">Hike Kananaskis</a></li>
      <li><a class="hike" href="">Hike Kananaskis</a></li>
      <li><a class="hike" href="">Hike Kananaskis</a></li>
      <li><a class="hike" href="">Hike Kananaskis</a></li>
      <li><a class="hike" href="">Hike Kananaskis</a></li>
      <li><a class="hike" href="">Hike Kananaskis</a></li>
      <li><a class="hike" href="">Hike Kananaskis</a></li>
      <li><a class="hike" href="">Hike Kananaskis</a></li>
    </ul>
  </div>
  </main>
</body>
</html>