<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Welcome to Hike Maps</title>
  <link rel="stylesheet" href="../SASS/style.css">
</head>
<body>
  <header class="page-nav">
    <a href="http://www.google.ca" class ="brand"><strong>HIKE MAP</strong></a>
    <a href="http://www.google.ca" class ="navlink">create new map</a>
    <a href="http://www.google.ca" class ="navlink">view your maps</a>
    <a class="email">user@hotmail.com</a>
    <form class="logout" action="/logout" method="POST">
    <input type="submit" value="Logout">
    </form>
  </header>
  <main class="page-content">
    <h1 class="maptitle">Map Title</h2>
    <div class ="mapview">
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 51.044270, lng: -114.062019},
          zoom: 10
        });

        var flightPlanCoordinates = [
          {lat: 51.044270, lng: -114.062019},
          {lat: 51.131470, lng: -114.010559},
          {lat: 51.0498, lng: -113.8233},
          {lat: 51.044270, lng: -114.062019}
        ];
        var flightPath = new google.maps.Polyline({
          path: flightPlanCoordinates,
          geodesic: true,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

        flightPath.setMap(map);
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBd-gj2cclo8bKnJzv2ChFVEtengy6LSQE&callback=initMap"
    async defer></script>
    <div class="markerinfo">
      <img class = "picture" src="https://upload.wikimedia.org/wikipedia/commons/a/a7/Calgary_Tower_with_flame_1-cropped.jpg">
      <h4 class= "title">Calgary Tower</h4>
      <p class="description">
        text text text text text text text
        text text text text text text text
        text text text text text text text
        text text text text text text text
        text text text text text text text
        text text text text text text text
        text text text text text text text
        text text text text text text text
        text text text text text text text
        text text text text text text text
        text text text text text text text
        text text text text text text text
        text text text text text text text
        text text text text text text text
        text text text text text text text
        text text text text text text text
        text text text text text text text
        text text text text text text text text text
      </p>
    </div>
    </div>
        <!-- AIzaSyBd-gj2cclo8bKnJzv2ChFVEtengy6LSQE -->
  </main>
</body>
</html>